<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Pinetree.styles.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap-icons/font/bootstrap-icons.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/github-markdown-css/github-markdown.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="author" content="binnmti" />
    <meta name="keywords" content="markdown, hierarchical, one-pager" />
    <meta property="og:image" content="https://pine-tree.site/pinetree.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Pinetree" />
    <meta name="twitter:image" content="https://pine-tree.site/pinetree.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="resizablePanels.js"></script>
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.bundle.min.js"]" defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z23ZSK9XG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-8Z23ZSK9XG');
    </script>
</body>

</html>
