<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Pinetree.styles.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap-icons/font/bootstrap-icons.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/github-markdown-css/github-markdown.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta property="og:image" content="https://pine-tree.site/pinetree.png" />
    <meta name="twitter:image" content="https://pine-tree.site/pinetree.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <HeadOutlet />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5747031166901717" crossorigin="anonymous"></script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="resizablePanels.js"></script>
    <script src="@Assets["lib/bootstrap/dist/js/bootstrap.bundle.min.js"]" defer></script>
</body>

</html>
