@using Pinetree.Model
@inject NavigationManager Navigation

@if (PineTree != null)
{
    <ul>
        <li>
            <span @onclick="() => ToggleNode(PineTree)">
                @if (PineTree.Children.Any())
                {
                    <span>@(PineTree.IsExpanded ? "-" : "+")</span>
                }
                else
                {
                    <span>&nbsp;</span>
                }
                @PineTree.Title
            </span>
            <button @onclick="() => AddChild(PineTree)">+</button>

            @foreach (var tree in PineTree.Children)
            {
                <PineTreeView UserId="@(UserId)" CurrentId="@(CurrentId)" PineTree="@(tree)" />


@*                 @if (tree.IsExpanded && tree.Children.Any())
                {
                    <PineTreeView PineTree="@(tree)" />
                }
 *@            }
        </li>
    </ul>
}

@code {
    [Parameter]
    public required string UserId { get; set; }

    [Parameter]
    public required long CurrentId { get; set; }
    
    [Parameter]
    public required PineTree PineTree { get; set; }

    private void ToggleNode(PineTree node)
    {
        node.IsExpanded = !node.IsExpanded;
    }

    private void AddChild(PineTree node)
    {
        // ParentId = CurrentId, Id = null
        var url = $"/markdown-editor/{UserId}/{PineTree.Id}/";
        Navigation.NavigateTo(url);
        StateHasChanged();
    }
}
